#image {
    height: 10rem !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
}

.card > .card-body, .card-footer {
    background-image: none;
    background-color: white;
}

.card.noborder {
    border-bottom: none;
    box-shadow: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
}

.pname {
    color: #716565;
    font-weight: bold;
    font-size: 28px;
}

#note {
    font-size: 18px;
    color: #454343;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#note.show { 
    display: inline-block;
    font-size: 16px;
}

#lastaccess, #meettimetext, .control-label {
    color: #9c9797;
    font-weight: 600;
}

#lastaccess {
    text-align: left;
    margin-left: 10px;
    position: relative;
    top: 20px;
}

.icons > * {
    margin: 10px;
    font-size: 24px;
}

.pbody {
    margin-top: 20px;
    width: 75%;
}

.icons {
    width: 25%;
}

.btn {
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#addform {
    text-align: left;
}

@media (max-width: 768px) {
    .icons > * {
        display: block;
    }

    .icons {
        margin-top: 40px;
    }

    #meettimetext {
        display: none;
        text-align: center;
    }
}